{% extends 'layout.html' %}
{% block body %}

<div class="jumbotron">
    <h1 class="display-4">추가하기</h1>
    <body>

        <form action="/add_article" method="POST">
            제목 : <input type="text" name="title"><br>
            내용 : <input type="text" name="description"><br>
            글쓴이 : <input type="text" name="author"><br>
            <input type="submit">
        </form>
    
    </body>
      <a class="btn btn-primary btn-lg" href="/articles" role="button">돌아가기</a>
    </p>
  </div>
{% endblock %} 