{% extends 'layout.html' %}
{% block body %}
<head>
	<meta charset="UTF-8">
    <style>
		table, th, td { border: 1px solid black; }
        thead { color: blue; }
        tbody { color: green; }
        tfoot { color: red; }
        th {
        text-align: center;
        }
        td {
        text-align: center;
        }

	</style>
</head>

<div class="jumbotron">
    <h1 class="display-4">회원정보</h1>
    <body>

        <table>
            <thead>
                <tr>
                    <th>ID</th> 
                    <th >NAME</th>
                    <th>EMAIL</th>
                    <th>생성시간</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td width = "20">{{user[0]}}</td>
                    <td width = "90">{{user[1]}}</a></td>
                    <td>{{user[2]}}</td>
                    <td>{{user[5]}}</td>
                    {% if user[2] != 'admin@naver.com' %}
                    <td><a class="btn btn-danger" href="/admin/{{user[0]}}/delete" role="button" onclick="return confirm('정말삭제하시겠습니까?');">회원정보삭제</a></td>
                    <td>
                        <form action="/edit_auth" method="post">
                        <div align="center" id="mainselection">
                        <select name= "number">
                            {% for num in users %}
                            <option value= "{{number}}" SELECTED>{{num[0]}}</option>"
                            {% endfor %}
                        </select>
                        </div>
                        <button class="button execute" name="submit" value="submit">등록</button>
                        </form>
                    </td>
                    
                    {% endif %}
                    
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th> 
                    <th >NAME</th>
                    <th>EMAIL</th>
                    <th>생성시간</th>
                </tr>
            </tfoot>
        </table>
        
    </body>
    </p>
  </div>
{% endblock %} 